nav {
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 2px solid black;
}


nav .nav-links a {
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    margin: 15px;
    color: #333;
    font-size: 28px;

}